@model  PagedList.IPagedList<MyClass.Models.ProductInfo>
@{
    ViewBag.Title = "Tất cả sản phẩm";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@using PagedList.Mvc;
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!-- mens -->
        <div class="col-md-4 products-left">
            @Html.Action("ListCategory", "Module")
            @Html.Action("PostLastNews", "Module")
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 products-right">
            <h5>Sản phẩm: </h5>
            <div class="sort-grid">
                <div class="sorting">
                    <h6>Sắp xếp</h6>
                    <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                        <option value="null">Mặc định</option>
                        <option value="null">Tên (A - Z)</option>
                        <option value="null">Tên (Z - A)</option>
                        <option value="null">Giá (Thấp - Cao)</option>
                        <option value="null">Giá (Cao - Thấp)</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="sorting">
                    <h6>Hiển thị</h6>
                    <select id="country2" onchange="change_country(this.value)" class="frm-field required sect">
                        <option value="null">6</option>
                        <option value="null">12</option>
                        <option value="null">28</option>
                        <option value="null">34</option>
                    </select>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div class="item active">
                        <img class="slide-image" src="~/Public/images/Khuyen-mai.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="single-pro">
            @foreach (var product in Model)
            {
                <div class="col-md-3 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="~/Public/images/products/@product.Img" class="pro-image-front" alt="hinhsp" />
                            <img src="~/Public/images/products/@product.Img" class="pro-image-back" alt="hinhsp" />
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="~/@product.Slug" class="link-product-add-cart">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="item-info-product ">
                            <strong><a href="~/@product.Slug">@product.Name</a></strong>
                            <p>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </p>
                            <div class="info-product-price">
                                <del>@string.Format("{0:0,0}", @product.Price)₫</del>
                            </div>
                            <div class="info-product-price">
                                <h3><strong>@string.Format("{0:0,0}", @product.PriceSale)₫</strong></h3>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                <form action="@Url.Action("CartAdd","Giohang", new { productid = product.Id})" method="post">
                                    <input type="submit" name="submit" value="Thêm vào giỏ hàng" class="button" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container">
        <div class="col-md-12 text-center">
            <div class="row">
                <div class="col-12">
                    @Html.PagedListPager(Model, page => Url.Action("Index", "Site", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>


